*{
  margin: 0px; 
  padding: 0px;
}
body{
     background-color: rgba(36, 130, 218, 0.897)
}
 .email{
        padding: 6px;
        width: 250px;
 }

 .pass{
       padding: 6px;
       width: 250px;
       
 }
 img{
      border: solid rgba(255, 255, 255, 0.897)
 }
  .login{
        color: white;
        font-family: sans-serif;
        font-size: 15px;
        padding: 6px;
        width: 267px;
        background-color: rgba(79, 137, 192, 0.897)
        
  }
  .with{
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    padding: 6px;
    width: 267px;
    background-color: rgba(79, 137, 192, 0.897)
    
}
.sign{
     color: white;
     text-align: center;
     padding: 50px;
}

.forget{
     color: white;
     text-align: center;
     padding: 0px;
     

}